

.element-image::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 170px;
    left: 0;
    top: 0;
    opacity: .3;
    z-index: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.98) 0,rgba(0,0,0,.92) 12%,rgba(0,0,0,.83) 21%,rgba(0,0,0,.7) 30%,rgba(0,0,0,.36) 48%,rgba(0,0,0,.25) 55%,rgba(0,0,0,.16) 63%,rgba(0,0,0,.05) 78%,transparent);
    pointer-events: none;
}

.element-image::after{
    content: "";
    position: absolute;
    height: inherit;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.05) 22%,rgba(0,0,0,.17) 38%,rgba(0,0,0,.31) 49%,rgba(0,0,0,.65) 67%,rgba(0,0,0,.81) 77%,rgba(0,0,0,.91) 85%,rgba(0,0,0,.97) 97%,#000);
}

.logo-cover{
    padding-top: 4em;
    z-index: 5;
    position: relative;
}

.link-li{
    margin-right: 41px;
}


.select-edition{
    padding: 0em 1em;
    border: solid 1px #d8d8d8;
    cursor: pointer;
    transition: 0.5s;

}
.select-edition:hover{
    border: solid 1px #6653ff;
}
.select-edition:focus{
    outline: none;
}

.ol-search .search{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    transition: 0.5s;
    width: 4.5em;
    align-items: center;
    cursor: pointer;
}

.ol-search .search:hover{
    
    width: max-content;

}
.ol-search .search:focus{
    width: -webkit-fill-available;
}

.input-search{
    display: none;
    height: -webkit-fill-available;
    margin-right: 1em !important;
    width: -webkit-fill-available !important;
    background: none;
    border: none;
    transition: 1s;
    border-bottom: solid 2px #dbdbdb;
}

.ol-search .search:hover .input-search:focus{
    outline: none;
}
.ol-search .search:hover .input-search{
    display: block;
}

@media (max-width:1500px) {
    .ol-search .search:hover{
        width: -webkit-fill-available;
    }
    /* .ol-search .search:hover p, .ol-search .search:hover .news-li{
        display: none;
    } */
}