{% extends "inrite/base.html" %}
{% load static %}

{% block statics %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!-- <script src="{% static 'inrite/js/animations.js' %}"></script> -->
{% endblock statics %}

{% block content %}
<section class="padding-default">
    <h3 class="fs-h3 bold">{{edition.title}}</h3>
    <!-- <p class="fs-p-16 font-color-secundary margin-top-1 edition-tag">Todo conteúdo da edição</p> -->

    {% for news in all_news %}
    <a href="{% url 'inrite:new' news.id %}">
        <div class="width-100 row margin-top-2 gap-2">
            <div class="height-25 width-40">
                <div class="width-100 height-100p background-cover" style="background-image: url('{{news.image.url}}')">
                </div>
            </div>

            <div class="div-datas width-50">
                <h5 class="fs-h5 uppercase bold">{{ news.title }}</h5>
                <p class="fs-p-16 font-color-secundary">{{news.author.name}}</p>
                <p class="fs-p-18 font-brygada font-color-gray">{{news.description}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</section>
{% endblock content %}